* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #ebebeb;
}

.app-container {
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  background-color: #00244a;
  padding-top: 20px;
}

.app-gutter {
  width: 15%;
}

.app-content {
  width: 70%;
}

@media (max-width: 1200px) {
  .app-gutter {
    display: none;
  }
  .app-content {
    width: 100%;
  }
}

.black-border {
  border-color: #000;
}

.dark-gray-border {
  border-color: #303030;
}

.medium-gray-border {
  border-color: #636363;
}

.light-gray-border {
  border-color: #989898;
}

.white-border {
  border-color: #ededed;
}
