* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #ebebeb;
}

.app-container {
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  background-color: #00244a;
  padding-top: 20px;
}

@media (max-width: 480px) {
  .app-container {
    padding-top: 8px;
  }
}

.app-gutter {
  width: 15%;
}

.app-content {
  width: 70%;
}

@media (max-width: 1200px) {
  .app-gutter {
    display: none;
  }
  .app-content {
    width: 100%;
  }
}

.black-border {
  border-color: #000;
}

.dark-gray-border {
  border-color: #303030;
}

.medium-gray-border {
  border-color: #636363;
}

.light-gray-border {
  border-color: #989898;
}

.white-border {
  border-color: #ededed;
}

.blue-border {
  border-color: #005abb;
}

.light-blue-border {
  border-color: #5396dd;
}

.light-yellow-border {
  border-color: rgb(255, 255, 103);
}

.orange-border {
  border-color: orange;
}

.red-border {
  border-color: rgb(255, 43, 43);
}

.dark-red-border {
  border-color: rgb(202, 14, 14);
}

.light-green-border {
  border-color: rgb(110, 201, 110);
}

.green-border {
  border-color: rgb(38, 172, 38);
}

.medium-green-border {
  border-color: green;
}

.dark-green-border {
  border-color: rgb(5, 99, 5);
}

/* Remove arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.small {
  font-size: 12px;
}

button:not([disabled]):hover {
  cursor: pointer;
}
